# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1\JS_1_Tasks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
